@model WebApplication.ViewModels.NoticiasViewModel

@{
   ViewBag.Title = "Home";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
   <link href="~/Content/noticias.css" rel="stylesheet" />
}
@section scripts {
   <script src="~/Scripts/expandirNoticia.js"></script>
}

   <div class="noticias-flexbox">
      @foreach (var noticia in Model.Noticias)
      {
         <div class="noticia">
            <div class="noticia-imagen">
               <img src="@noticia.Imagen" alt="imagen de la noticia" />
            </div>
            <div class="noticia-info">
               <h2 class="noticia-titulo">@noticia.Titulo</h2>
               <p class="noticia-descripcion">@noticia.Contenido</p>
               <button class="noticia-btnExpandir">Expandir</button>
               <p class="noticia-fecha">@noticia.FechaPublicacion.ToString("dd/MM/yyyy HH:mm")</p>
            </div>
         </div>
      }
   </div>

   <div class="paginacion">
      @if (Model.PaginaActual > 1)
      {
         <a href="@Url.Action("Home", new { pagina = Model.PaginaActual - 1 })"><</a>
      }
      @Model.PaginaActual de @Model.PaginasTotales
      @if (Model.PaginaActual < Model.PaginasTotales)
      {
         <a href="@Url.Action("Home", new { pagina = Model.PaginaActual + 1 })">></a>
      }
   </div>
