@model WebApplication.Models.Programacion

@{
   ViewBag.Title = "Create";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
   <link rel="stylesheet" href="~/Content/login.css" />
}
<div class="formulario-container">

   @using (Html.BeginForm())
   {
      @Html.AntiForgeryToken()

      <div class="form-flex">
         <h4>Programacion</h4>
         <hr />
         @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         <div class="">
            @Html.LabelFor(model => model.ProgramaID, "Seleccione el Programa", htmlAttributes: new { @class = "control-label col-md-2", @style = "width:100%;" })
            <div class="">
               @Html.DropDownList("ProgramaID", null, htmlAttributes: new { @class = "input-estilo" })
               @Html.ValidationMessageFor(model => model.ProgramaID, "", new { @class = "text-danger" })
            </div>
         </div>

         <div class="">
            @Html.LabelFor(model => model.FechaHorario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="">
               @Html.TextBoxFor(model => model.FechaHorario, new { @class = "input-estilo", type = "datetime-local" })
               @Html.ValidationMessageFor(model => model.FechaHorario, "", new { @class = "text-danger" })
            </div>
         </div>

         <div class="">
            <div class="">
               <input type="submit" value="Create" class="input-btn" />
            </div>
         </div>
      </div>
      <br />
      <div>
         <a href="@Url.Action("Index")" class="volver">Volver</a>
      </div>
   }
</div>
@section Scripts {
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/jqueryval")
}


