@model WebApplication.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Pagina Principal";
}
@section styles {
    <link href="~/Content/home.css" rel="stylesheet" />
}
<main>
    <section class="seccion-principal">
        <div class="en-vivo">
            <h4 class="section-title">En vivo</h4>
            <h3 class="section-text">Esta boca no es mia</h3>
        </div>

        <div class="boton-play">
            <img src="assets/PlayButton.png" alt="Botón de reproducción" />
        </div>

        <div class="a-continuacion">
            <h4 class="section-title">A continuación</h4>
            <h3 class="section-text">Esta boca no es mia</h3>
        </div>
    </section>

    <!-- SECCION PROGRAMACION -->
    <section class="seccion-programacion">
        <h2>Programación de hoy</h2>
        <div class="programacion">
            @{
                foreach (var item in Model.programacionDiaria)
                {
                    <div class="programa">
                        <div class="programa-imagen">
                            <img src="@item.ImagenUrl" alt="Imagen del programa" />
                        </div>
                        <div class="programa-info">
                            <div class="programa-titulo">
                                <p class="programa-nombre">@item.Nombre |</p>
                                <p class="programa-horario">@item.FechaHorario.ToString("HH:mm") - @(item.FechaHorario.Add(item.Duracion).ToString("HH:mm"))</p>
                            </div>
                            <p class="programa-conductores">
                                @string.Join(", ", item.NombresConductores)
                            </p>
                            <p class="programa-descripcion">
                                @item.Descripcion
                            </p>
                        </div>
                    </div>
                }
            }


            <div class="programa">
                <div class="programa-imagen">
                    <img src="~/assets/Imagenes/ejemplo.jpg" alt="Imagen del programa" />
                </div>
                <div class="programa-info">
                    <div class="programa-titulo">
                        <p class="programa-nombre">Nombre radio |</p>
                        <p class="programa-horario">18:00 - 19:00</p>
                    </div>
                    <p class="programa-conductores">
                        Patricio Estrella, Bob Esponja
                    </p>
                    <p class="programa-descripcion">
                        Lorem ipsum dolor sit amet ec id adipiscing morbi ullamcorper
                        consectetur...
                    </p>
                </div>
            </div>

            <button class="boton-expandir">Expandir más</button>
        </div>
    </section>

    <hr />

    <!-- SECCION NOTICIAS -->
    <section class="seccion-noticias">
        <h2>Últimas Noticias</h2>
        <div class="noticias-grid">
            @{
                foreach (var item in Model.noticiasResumen)
                {
                    <div class="noticia">
                        <div class="noticia-info">
                            <h4>@item.Titulo</h4>
                            <div class="noticia-imagen">
                                <img src="@item.Imagen" alt="Imagen de la noticia" />
                            </div>
                            <p>
                                @item.Contenido
                            </p>
                            <p style="text-align:end;">
                                @item.FechaPublicacion
                            </p>
                            <a href="@Url.Action("Details", "Noticias", new { id = item.Id })" class="boton-ver-mas" style="text-align:center">Ver más</a>
                        </div>
                    </div>
                }
            }

        </div>
    </section>
</main>
